
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.wrap {
    display: grid;
}

nav{
    width: 200px;
}


/* CAIXAS-DASHBOARD */

.container{
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 35px;
    margin-right: 40px;
} 

.container .elemento {
    width: 196px;
    height: fit-content;
    font-family: 'Roboto' , sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elemento .interAlign{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}


.elemento .interAlign .quantidade {
    align-self: center;
    text-indent: 5px;
    font-weight: bolder;
    font-size: 64px;
    text-indent: 7px;
}

.elemento .nome{
    text-align: center;
    
}

hr{
    margin-right: 50px;
}
/* ////////////////// */


.dashTables{
    height: 330px;
    align-items: flex-end;
    display: inline-flex;
    gap: 140px;
}

.ativosAtraso {
    box-sizing: border-box;
    height: 300px;
    background: #fff;
    border: 1px solid #E0E2E7;
    border-collapse: collapse;
}

.tableHeader{
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #0067C8;
    width: 300px;
    line-height: 2px;
    text-align: initial;
    text-indent: 5px;
}

.ativosAtraso td , .ativosAtraso th{
    border: 1px solid #E0E2E7;
}

.ativosAtraso td p {
    font-family: 'Inter';
    font-weight: 550;
    font-size: 17px;
    line-height: 5px;
    margin-top: 5px;
    text-indent: 5px;
}

.ativosAtraso td span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.recemCadastros{
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    background: #fff;
    border: 1px solid #E0E2E7;
    border-collapse: collapse;
}

.tableHeaderOne {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #0067C8;
    line-height: 35px;
    text-align: start;
    text-indent: 5px;
}

.recemCadastros td , .recemCadastros th {
    border: 1px solid #E0E2E7;
}

.recemCadastros td p {
    font-family: 'Inter';
    font-weight: 550;
    font-size: 17px;
    line-height: 5px;
    margin-top: 5px;
    text-indent: 5px;
}

.recemCadastros td span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.recemCadastros td i {
    margin-left: 60px;
    font-size: 19px;
    color: #0067C8;
}

