@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,700&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;

}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 35px;
    height: 200px;


} 

.elemento{
        gap: 20px;
        width: 190px;
        height: 110px;
        background-color: #06AA2A;
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        color: white;
}

.elemento .interAlign{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    text-indent: 15px;
}

.nome {
    line-height: 18px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.quantidade{
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 35px;
}

.itens{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}



nav{
    display: flex;
    flex-direction: column;
    background-color: #0067C8;
    width: 100px;
    height: 509px;
    gap: 30px;
    justify-content: flex-start;
    text-align: left;
    padding: 30px;
}

nav a {
    margin-top: 30px;
    text-decoration: none;
    color: #ffff ;
} 

.dashTables{
    margin-bottom: 30px;
    align-items: center;
    display: inline-flex;
    gap: 80px;
    margin-left: 30px;
}

.ativosAtraso {
    box-sizing: border-box;
    height: 300px;
    background: #fff;
    border: 1px solid #E0E2E7;
    border-collapse: collapse;
}

.tableHeader{
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #0067C8;
    width: 300px;
    line-height: 2px;
    text-align: initial;
    text-indent: 5px;
}

.ativosAtraso td , .ativosAtraso th{
    border: 1px solid #E0E2E7;
}

.ativosAtraso td p {
    font-family: 'Inter';
    font-weight: 550;
    font-size: 17px;
    line-height: 5px;
    margin-top: 5px;
    text-indent: 5px;
}

.ativosAtraso td span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.recemCadastros{
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    background: #fff;
    border: 1px solid #E0E2E7;
    border-collapse: collapse;
}

.tableHeaderOne {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #0067C8;
    line-height: 35px;
    text-align: start;
    text-indent: 5px;
}

.recemCadastros td , .recemCadastros th {
    border: 1px solid #E0E2E7;
}

.recemCadastros td p {
    font-family: 'Inter';
    font-weight: 550;
    font-size: 17px;
    line-height: 5px;
    margin-top: 5px;
    text-indent: 5px;
}

.recemCadastros td span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.recemCadastros td i {
    margin-left: 60px;
    font-size: 19px;
    color: #0067C8;
}

