@import url("main.css");

button{
    user-select: none;
    cursor: pointer;
    width: 220px;
    height: 30px;
    background-color: var(--cor-secundario);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: none;
}


body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
    align-items: center;
}

input{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    height: 1.3rem;
    color: white;
    width: 15rem;
    padding: .3rem 2rem;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.form {
    display: flex;
    align-items: center;
    margin: auto;      
    flex-direction: column;  
    row-gap: 2rem;
  
}

#submit{
    width: 8rem;
    border-radius: .3rem;
    height: 2.3rem;
    align-self: center;
}
#submit:hover{
    height: 2.6rem;
    width: 8.3rem;
    font-size:1.3rem;
    transition-property: all;
    transition-duration: 200ms;
}

img{
    width: 20rem;
    height: 15rem;
}

i{
    color: white;
    position:absolute;
    z-index:-1;
    border:none;
    background:transparent;
    outline:none;
    margin: .6rem;
}

.resetPwd {
    display: flex;
}
.resetPwd p{
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 1rem;
}
.resetPwd button {
    background-color: transparent;
    box-shadow: none;
    width: auto;
    height: auto;
    margin: 0;
    color: var(--cor-secundario);
}
.resetPwd button:hover {
    font-size:1.3rem;
    transition-property: all;
    transition-duration: 800ms;
}

.aviso{
    color: var(--cor-secundario);
    font-weight: bold;
    font-family: Inter;
    font-size: 1.2rem;
}