@import "/css/main.css";    

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
    align-items: center;
}

input{
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    height: 1.3rem;
    color: white;
    width: 20rem;
    padding: .3rem 2rem;
    
}

input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.form {
    display: flex;
    align-items: center;
    margin: auto;      
    flex-direction: column;  
    row-gap: 2rem;
  
}

.submit{
    width: 8rem;
    border-radius: .3rem;
    height: 2.3rem;
}

img{
    width: 20rem;
    height: 20rem;
}

i{
    color: white;
}

.submit-lente {
    position:absolute;
    top:0; right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
  }
  
  .submit-line {
    position: relative;
    width: 200px;
  }