* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #0067C8;
}
.menuLateral{
    display: flex;
    flex-flow: row wrap;
    width: 10%;
    justify-content: flex-start;
    float: left;
    padding: 30px;
    height: 100vh;
}

    
    
    .menuLateral ul li {
        list-style: none;
        margin-top: 50px;
    }
        .menuLateral ul li a{
            text-decoration: none;
            color: #fff;
        }
        .menuLateral ul li a:hover{
            text-decoration: underline;
        }
.mainConteudo{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    float: right;
    padding: 30px;
    height: 100vh;
}
