@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
   
/* Variaveis Essenciais de Cores Padrões*/
*{
    font-family: var(--font-principal);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

figure{
    margin: 0;
}

.body-content{
    margin-left: 14rem;
}

:root{
    --cor-principal: #0067C8;
    --cor-secundario: #F7A81B;
    --bg-principal: white;
    --text-secundario: #808192;
    --font-principal: 'Inter', sans-serif;
    --font-weight-leve: 400;
    --font-weight-principal: 500;
    --font-weight-destaque: 600;
    --font-weight-forte: 800;
}

.logo-sidebar {
    width: 200px;
    filter: grayscale(100%);
}       
/* Lateral Azul - Menu principal  */
.navMenu{
    position: fixed;
    width: fit-content;
    background-color: #0067C8;
    align-items: center;
    align-content: center;
    margin-right: 1rem;
    height: 100%;
}

.navMenu ul li{
    list-style: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    padding: 20px 5px;
}
.navMenu ul li a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.navMenu .logout ul li{
    align-items: baseline;
    align-content: flex-end;
    position: relative;
    bottom: 0;
    
}

.line{
    background-color: #9CA1AD;
    width: 80%;
    height: 2px;
    align-self: center;
    margin-top: 1.5rem;
}