//Arquivos Particionados para Organização 
@import 'base';
@import 'variables';
@import 'mixins';
@import 'extends';



    

        


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $baseFont;
    width: 100%;

    //Navegação
    .navbar{ 
        width: 10%;
        border-right: 1px solid #ccc;
        text-align: center;
        display: flex;
        flex-flow: column;
        height: 100vh;
            ul{
                margin: auto;
                @include reset-list(0,0,none);
            }
                ul li{
                    padding: 30px 0 30px 0;
                    display: block;
                    font-size: 12px;
                }
                    ul li:hover{
                        background-color: $thirdColor;
                    }
        }
    
    //Conteudo

    .content{
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $thirdColor;
        .alert{
            width: 100%;
            padding: 10px;
               .sucess{
                    @extend %alert;
                    @include bg-effect(sucess);
                }
                .danger{
                    @extend %alert;
                    @include bg-effect(danger);
                }
                .warning{
                    @extend %alert;
                    @include bg-effect(warning);
                }
    
        }
    }

    
    

}
