@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root{
 margin: 0px;   
 padding: 0px;
}



.btnOpenModal {
    font-size: 1em;
    border: none;
    background-color: #0067C8;
    color: white;
    cursor: pointer;
    font-family: Inter;

}



.modal-container{
    width: 100vw;
    position: fixed;
    height: 60vh;
    top: 60px;
    display: none;
    z-index: 999;
    justify-content: center;
    font-family: Inter;
}

.modal {
    display: flex;
    flex-direction:  column;
    padding: 30px;
    background-image: linear-gradient(#a1d0fb,#0067C8 );
    border-radius: 10px;
    width: 50%;

}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}

span {
    margin: 10px auto;
}

.btns{
    display: flex;
    margin-top: 10px;
    align-items: baseline;
    position: absolute;
    bottom: 0px;
    gap: 15px;
    margin-bottom: 20px;
}

.btns button{
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;


}

.btnClose {
    background-color: #ff6c6c;
}

@media (max-width: 500px) {
    .modal {
        padding: 10px;
        width: 80%;
    }

    span, .btns button{
        font-size: smaller;
    }
}

/*----------------------------------------------------------------*/


.modal h2{
 color: #fff;
}