@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,700&display=swap');

body{
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
    background: #0067C8;
}
    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: bottom;
    }
        main figure img {
            width: 200px;
            filter: grayscale(100%);
        }
        
        /* Lateral Azul - Menu principal */
        .navMenu{
            height: 100vh;
            background: #0067C8;
            align-items: center;
            align-content: center;
        }
            .navMenu ul li{
                list-style: none;
                color: #fff;
                font-family: 'Inter', sans-serif;
                font-size: 1em;
                padding: 20px 5px;
                width: 200px;
            }
            .navMenu ul li a{
                display: block;
                text-decoration: none;
                color: inherit;
            }
                .navMenu .logout ul li{
                    align-items: baseline;
                    align-content: flex-end;
                    position: relative;
                    bottom: 0;
                    margin-top: 250px;
                }

        