@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contentActives{
    flex-wrap: wrap;
    flex-direction: column;    
    display: flex;
    flex-flow: column;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}
    .contentActives h1{
       padding-top: 30px;
       padding-bottom: 30px;
    }
    .contentActives .formActives{ 
        font-family: 'Inter', sans-serif;
        margin-top: 20px;
        flex-wrap: wrap;
        flex-direction: row;    
        display: flex;
        flex-flow: row;
        gap: 10px;
    }
    .contentActives .formActives input[type=text], input[type=date], textarea, input[type=file]{ 
        font-family: 'Inter', sans-serif;
        margin-top: 20px;
        padding: 5px;
        font-size: 1em;
    }
    .contentActives .formActives button{
        font-family: 'Inter', sans-serif;
        background-color: orange;
        border: none;
        margin: 10px;
        padding: 5px;
        font-size: 1em;
    }
    .contentActives .formActives .btnLimpar{
        font-family: 'Inter', sans-serif;
        background-color: tomato;
        border: none;
        margin: 10px;
        padding: 5px;
        font-size: 1em;
    }


    .contentActives .lineBlue{
        background-color: #0067C8;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
        .contentActives .lineBlue ul{
            font-family: 'Inter', sans-serif;
            list-style: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 150px;
        }