@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import "/css/main.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-color: var(--bg-principal);
    padding-left: 200px;
}

.listar {
    font-size: 40px;
    text-align: left;
    margin-top: 10px;
    padding-top: 40px;
    padding-left: 20px;

}

@keyframes animation-button{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

    button:hover{
    background-image: linear-gradient(15deg,#F7A81B,#f3c436);
    animation-name: animation-button;
    animation-duration: 0.5s;
    animation-timing-function: eases-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.actived{
    box-shadow: none;
    color: white;
    background-color: var(--cor-secundario);
    transition: background-color 0.4s ease-in;
    
}

.container .title{

    font-size: 15px ;
    font-weight: 600;
    line-height: 34px;
    margin-left: 15px;
    padding: 4px;

}

.container form .title .hr1 {
    margin-top: 5px;
    border: 0.5px solid #C3C3B5;
    background-color: #C3C3B5;
    width: 1111px;

}

.container form .title .hr1 {
    margin-right: 70px;
}


.content form{
    margin: 1em ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.content form .inputInbox{
    padding: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 8px;

}

.container .content input {

    width: 300px;
    height: 33px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 13px 16px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;

}

input:focus{
    outline: none;
}

input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: rgba(92, 92, 92, 0.6);
}

#cep {
    width: 138px;
}

#num{
    width: 138px;
}

#adress 
{
    width: 375px;
}


.btn{
    text-align: center;
    border-radius: 0%;
    background-color: #F7A81B ;
    color: #fff;
    font-weight: 700;
    line-height: 4px;
    border: none;
    width: 220px;
    height: 30px;
    cursor: pointer;
}

.flex-end{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

hr{
    display: block;
    width: 600px ;
    border: 0;
    border-top: 1px solid #C3C3B5 ;
    margin: 1em -2px;
    padding: 0;
}
/*///////////////////////////////////////////////////////////////*/
.searchBox .headerBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    color:  #0067C8;
    position: absolute;
}

.searchBox .input {
    outline: none !important;
    width: 270px;
    height: 25px;
    padding: 2px 10px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #F5F5F5;
    border: 1px groove #808192;
    margin-top: 10px;
    align-items: center;
    font-family: 'Inter';       
}


.searchBox .submitBtn{
    cursor:pointer;
    margin-left: -5px;
    padding-top: 1px;
    background: #F7A81B;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Inter';
    width: 100px;
    height: 28px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
/*-------------------------------*/

.table-list thead{
    background-color: #0067C8;
    color: #fff;
    font-size: 1.5rem;
    height: 50px;
    text-align:center;
    
}

.table-header{
    width: 10000px;
    
}

.inserts-table{
    font-size: 16px;
    padding-left: 25px;
    text-align: center;
    color: #000000;
    font-family: 'Inter';
}

.table-name{
    font-size: 16px;
    font-weight: bold;
    
}

.link-image{
    margin-bottom: -5px;
}

.buscar-btn{
    width: 100px;
}
