@import url("/css/main.css");;

  :root{

    --cor-azul: #0067C8;

  }


    input[type=menor] {
      position: relative;
      width: 250px;
      padding: 8px 16px;
      margin: 8px 0;
      box-sizing: border-box;
      }
  
  
    
  input[type=maior] {
    position: relative;
    width: 600px;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;      
  }  
  
  h4 {
    font-family: 'Inter', sans-serif;
    color: var(--cor-azul);

  }