/*@import url("/css/main.css");*/

  :root{

    --cor-azul: #0067C8;

  }

  .content{
    display: flex;
    width: 50%;
    margin-top: 9vw;
    margin-left: 15vw;
  }

    .input-center input{
      position: relative;
      width: 20vw;
      padding: 0.5vw 1vw;
      margin: 0.5vw;
      box-sizing: border-box;



    }

    .input-menor input {
      position: relative;
      width: 20vw;
      padding: 0.5vw 1vw;
      margin: 0.5vw;
      box-sizing: border-box;
      }
  
    
  .input-maior input {
    position: relative;
    width: 30vw;
    padding: 0.5vw 1vw;
    margin: 0.5vw;
    box-sizing: border-box;      
  }  
  
  .content h4 {
    font-family: 'Inter', sans-serif;
    color: var(--cor-azul);

  }