body {
  margin: 0;
  padding: 0;
  display: flex;
}

nav {
  width: 227px;
}

.body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}

.content-header {

  margin-left: 40px;
  display: grid;
  width: 40px;
  height: 200px;
}

.content-tables {
    margin-bottom: 60px;
  display: grid;
  row-gap: 50px;
}

.header-path .pathWay {
  font-family: Inter;
  font-size: 1.563rem;
  line-height: 24px;
  text-align: left;
}

.header-path .pathWay a {
  text-decoration: none;
  color: #232325;
}


.btns-user{
    margin-top: 10px; 
    display: flex;
    margin-left: 30px;
}

.button-usersList:hover {
  background-image: linear-gradient(15deg, #f7a81b, #f3c436);
  animation-name: animation-button;
  animation-duration: 0.5s;
  animation-timing-function: eases-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.button-usersList {
  user-select: none;
  cursor: pointer;
  width: 220px;
  height: 30px;
  background-color: var(--botao-secundario);
  color: var(--text-secundario);
  border: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: none;
}
.searchBox{
    margin-bottom: 30px;
}

.searchBox .headerBtn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  color: #0067c8;
}

.searchBox form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.searchBox .input {
  outline: none !important;
  width: 270px;
  height: 25px;
  padding: 2px 10px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px groove #808192;
  margin-top: 10px;
  align-items: center;
  font-family: "Inter";
}

.searchBox .submitBtn {
  align-self: center;
  margin-top: 8px;
  background: #f7a81b;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Inter";
  width: 100px;
  height: 28px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

table {
  height: auto;
  max-width: 100%;
}

.content-tables table thead tr th {
  text-align: center;
  height: 30px;
  background-color: #0067c8;
  font-family: "Inter";
  font-weight: 200;
  font-size: 18px;
  color: #ffffff;
}

.content-tables table tbody {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #232325;
}

.content-tables table tbody td .stated {
  width: 128px;
  background-color: #06aa24;
  color: #ffffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border: none;
}

.content-tables table tbody td .state {
  width: 128px;
  background-color: #f32d2d;
  color: #ffffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border: none;
}

.content-tables table tbody .box {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.content-tables table tbody .box button {
  padding-left: 15px;
  font-family: Inter;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.content-tables table tbody .blue {
  background-color: #0067c8;
  padding-right: 30px;
}
.content-tables table tbody .yellow a {
  text-decoration: none;
  color: #ffffff;
}
.content-tables table tbody .yellow {
  background-color: #f7a81b;
  padding-right: 30px;
}

.content-tables table tbody .red {
  background-color: #f32d2d;
  padding-right: 30px;
}


.red {
  margin-top: 30px;
    transform: translate(230%,50%);
    width: 162px;
  height: 27px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  background: #F32D2D;
  border: none;
  }

.actived{
    box-shadow: none;
    color: white;
    background-color: var(--botao-principal);
    transition: background-color 0.4s ease-in;
    
}
.actived{
    box-shadow: none;
    color: white;
    background-color: var(--cor-secundario);
    transition: background-color 0.4s ease-in;
    
}

.container .title{
    font-size: 17px ;
    font-weight: 600;
    line-height: 34px;
    margin-left: 15px;
    padding: 4px;

}

.container form .title .hr1 {
    margin-top: 5px;
    border: 0.5px solid #C3C3B5;
    background-color: #C3C3B5;
    width: 1111px;

}



.content form{
    margin: 1em ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.content form .inputInbox{
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 8px;

}

.container .content input {

    width: 300px;
    height: 33px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 13px 16px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;

}

input:focus{
    outline: none;
}

input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: rgba(92, 92, 92, 0.6);
}

#cep {
    width: 138px;
}

#num{
    width: 138px;
}

#adress 
{
    width: 375px;
}


.btn{
    text-align: center;
    border-radius: 0%;
    background-color: #F7A81B ;
    color: #fff;
    font-weight: 700;
    line-height: 4px;
    border: none;
    width: 220px;
    height: 30px;
    cursor: pointer;
}



hr{
    display: block;
    width: 600px ;
    border: 0;
    border-top: 1px solid #C3C3B5 ;
    margin: 1em -2px;
    padding: 0;
}

.flex-end{
  display: flex;
  justify-content: flex-end;

}

.btn-userList{
  text-align: center;
  border-radius: 0%;
  background-color: #F7A81B ;
  color: #fff;
  font-weight: 700;
  line-height: 4px;
  border: none;
  width: 120px;
  height: 30px;
  cursor: pointer; 

}


@media (max-width: 885px) {
  table {
    max-width: 100%;
  }
  .content-tables table thead tr th {
    text-indent: 15px;
  }

  .content-tables table tbody {
    text-align: left;
    text-indent: 5px;
  }
  .content-tables table tbody .box {
    flex-direction: column;
    width: fit-content;
    gap: 2px;
  }
  .content-tables table tbody .box {
    align-items: center;
  }
}

@media (max-width: 825px) {
  .content-header {
    margin-left: 10px;
  }

  .header-path .pathWay {
    font-size: 1.3rem;
  }
}
