@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url("/css/main.css");


body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }
  
  .body-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
  }
  
  .titleRelatorios {
    margin-left: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
  }
  
  hr {
    display: block;
    width: 150px;
    border: 0;
    border-top: 1px solid #c3c3b5;
    margin: 1em 1em;
    padding: 0;
  }
  
  .innerContent {
    margin-left: 120px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
  }
  
  .innerContent a {
    text-decoration: none;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    width: 300px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .titlee {
    background-color: #f7a81b;
  }
  
  .el {
    background-color: #0067c8;
    margin-top: 50px;
  }
  
  .hv {
    border: 1px solid #c3c3b5;
    background-color: #c3c3b5;
  }
  
  /* RESPONSIVITY */
  
  @media (max-width: 1120px) {
    .innerContent {
      margin-left: 80px;
    }
  }
  
  @media (max-width: 1090px) {
    .innerContent {
      margin-left: 50px;
    }
  }
  
  @media (max-width: 1030px) {
    .innerContent {
      margin-left: 30px;
    }
  }
  
  @media (max-width: 950px) {
    .innerContent {
      margin-left: 30px;
      grid-template-columns: auto;
    }
    .el {
      margin-top: 0px;
    }
    .innerContent a {
      margin-top: 50px;
    }
  }
  