*{
    font-family: var(--font-principal);
}

.body-content{
    width: 100%;
}

.forms-beneficiario,
.forms-beneficiario form,
.forms-beneficiario .info{
    display: flex;
    flex-direction: column;
}

.forms-beneficiario .form-title{
    align-self: flex-start;
    margin-left: 8.5rem
}

.forms-beneficiario form input::placeholder{
    color: black;
}
.forms-beneficiario form label{
    color: var(--cor-principal);
    font-weight: var(--font-weight-destaque);
    padding-block: .5rem;
}
.forms-beneficiario .form-title{
    color: var(--cor-principal);
    font-weight: var(--font-weight-forte);
}
.forms-beneficiario form input{
    width: 15rem;
    margin: 0;
    padding:0;
    background: #FFFFFF;
    border: 1px solid #bebdbd;
    border-radius: 5px;
    height: 2rem;
    font-size: .9rem;
    padding-inline: 10px;
    font-weight: var(--font-weight-leve);
}

.forms-beneficiario form{
    margin-block: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.forms-beneficiario form .flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.forms-beneficiario .info{
    justify-content: space-around;
}

.line{
    background-color: #9CA1AD;
    width: 80%;
    height: 2px;
    align-self: center;
    margin-top: 1.5rem;
}