@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url("/css/main.css");

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gridrel{
    display: grid;
    justify-content: center;
    margin-right: 200px;
}

nav{
    width: 15%;
    height: 100vh;
    background-color: #0067C8;
}

.titleRelatorios{
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
}


hr{
    display: block;
    width: 150px ;
    border: 0;
    border-top: 1px solid #C3C3B5 ;
    margin: 1em 1em ;
    padding: 0;
}


.layout{
    margin-bottom:40px ;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    margin-top: 70px;
    column-gap: 80px;
    row-gap: 70px;

}

a{
    text-decoration: none;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    width: 300px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reltitle {
    background-color: #F7A81B ;
}

.relsub{
    background-color: #0067C8;
}

.hv{
    position: fixed;
    border-left: 1px solid #C3C3B5;
    height: 350px;
    position:absolute;
    left: 55%;


}


