@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url("/css/main.css");

body{
    max-width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    height: 100%;
} 

.body-content{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;

}


.titleRelatorios{
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
}


hr{
    display: block;
    width: 150px ;
    border: 0;
    border-top: 1px solid #C3C3B5 ;
    margin: 1em 1em ;
    padding: 0;
}

.innerContent{
    margin-left: 120px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
}

.innerContent a{
    text-decoration: none;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    width: 300px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.titlee {
    background-color: #F7A81B ;
}

.el{
    background-color: #0067C8;
    margin-top: 50px;
}

.hv{
    border: 1px solid #C3C3B5;
    background-color: #C3C3B5;

}


/* 








@media (max-width:806px) {
    .layout{flex-direction: column;}
    body{justify-content: space-between;
    align-items: flex-start;
gap: 40px;}
} */